@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Public+Sans:wght@500&display=swap');

html, body { 
    width: 100%;
    height: 100%;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #666;

    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    color: #000;
    letter-spacing: -0.1%;

    box-sizing: border-box;
    margin: 0; 
    padding: 0;
} 

h1, h2 {
    font-weight: 800;
    line-height: 120%;
}

h1 {
 font-size: 32px;
 margin-bottom: 48px;
}

h2 {
 background: #FFBF00;
 font-size: 24px;
 border-bottom: 8px solid #C90;
 padding: 16px 32px 15px 32px;
 margin-left: -34px;
 margin-bottom: 24px;
} 

section {
    min-width: 390px;
    margin: 0;
}

p{
    margin-top: 16px;
}


.first-section{
    background-color: white;
    border-bottom: 8px#999 solid;
    padding: 96px 24px 64px 24px;
}

.first-section-inner-wrapper {
    width: 62.5%;
    min-width: 342px;
    margin-left: auto; 
    margin-right: auto;
}

.second-section{
    height: 100%;
    background-color: #666;
    padding-top: 72px;
    padding-bottom: 72px;
}

.card p {
    font-weight: 500;
}

.card{
    background-color: white;
    width: 62.5%;
    min-width: 390px;
    margin: auto;
    padding: 8px 24px 24px 24px;
    border-bottom: 8px#999 solid;
}

.bold {
    font-weight: 800;
}

.green {
    color: #009966;
}